/* Container holding everything */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: pink;
  z-index: -10;
  
}
.header{
    font-family:'Bonheur Royale';
    z-index: 10;
}

/* Wrapper for image slider */
.sliderContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
    z-index: 0;
}

/* Image container with animation */
.picContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

/* Optional image style */
.pic {
  border: 1px solid black;
}

/* Text overlay */
.mainTextContainer {
  position: absolute;
  bottom: 10%; /* Distance from bottom */
  left: 5%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: rgba(255, 253, 253, 0.856); /* Optional: background for readability */
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2rem;
}


.rotatedSlider{
  position: fixed;
  top:10vh;left:20vw;
  z-index: 10;
}

.welcome{
  font-family: 'Bonheur Royale';
  font-size: 50px;
  color: black;
}
.paragraph{
  
  font-family: 'Bonheur Royale';
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.circle{
  position:absolute;
  width: 800px;height: 800px;
  z-index: -1;
  bottom: -100px;right: -100px;
  z-index: -11;
}@media (max-width: 720px) {
  
.circle{
  position:absolute;
  width: 70%;height: 120%;
  z-index: -10;
  bottom: -100px;right: -100px;
}
}
